<div class="col">
  <div class="card h-100">
    <% if artwork.image.attached? %>
      <%= image_tag artwork.image, class: "card-img-top", alt: artwork.title %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= artwork.title %></h5>
      <p class="card-text"><%= artwork.artist_name %></p>
      <p class="card-text"><%= artwork.medium %></p>
    </div>
  </div>
</div>
