.navbar {
  background-color: #f0f0f0;
  height: 80px;
}

.navbar-brand {
  font-size: 30px !important;
}

.home-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 20px;
  background-color: #E7975F;

}

.navbar-nav {
  align-items: left;
}

.nav-link {
  color: black !important;
  font-size: 18px;
  margin-left: 20px;
}

.navbar-toggler {
  border: none !important;
}

@media (max-width: 991px) {
  .navbar-collapse.show {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    z-index: 1000;
    padding: 15px;
  }

  .navbar {
    height: auto;
    min-height: 80px;
  }

  .navbar-brand {
    margin-top: 10px;
  }

  .navbar-toggler {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .nav-link {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
